* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.header {
  background-color: rgb(92, 92, 92);
  height: 150px;
}

.main {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;

  &__aside-left {
    background-color: rgb(211, 211, 211);
    order: 1;
    flex: 2;
    padding: 15px;
  }

  &__article {
    background-color: rgb(238, 238, 238);
    order: 2;
    flex: 6;
  }

  &__aside-right {
    background-color: rgb(212, 212, 212);
    order: 3;
    flex: 4;
  }
}

.sticky {
  position: sticky;
  top: 0;
  position: -webkit-sticky;
}

.categories {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__category {
    padding: 10px 0;
    text-decoration: none;
    color: black;

    &:hover {
      text-decoration: underline;
    }
  }
}

.footer {
  background-color: rgb(99, 99, 99);
  height: 150px;
}
