.basketItem {
  display: flex;
  align-items: center;

  &__name {
    flex: 1;
    padding: 0 0.5em;
  }
}

.quantity {
    display: flex; 
    justify-content: center;
    align-items: center;

  &__decrease {
    padding: 0px;
    font-size: 16px;
  }

  &__amount {
      padding: 0 0.5em;
  }

  &__increase {
    padding: 0px;
    font-size: 14px;
  }
}
