@import "../main.scss";

.checkout {
  background-color: $foreground-color;
  width: 60%;
  border: 1px solid $line-color-light;
  padding: 0 15px 15px 15px;
  margin-top: 40px;
  box-shadow: 0px 10px 20px 0px rgba(44, 44, 44, 0.2);
  align-self: center;

  &__subtotal {
    display: flex;
    justify-content: space-between;
  }

  &__delivery {
    display: flex;
    justify-content: space-between;
  }

  &__total {
    display: flex;
    justify-content: space-between;
  }

  &__checkout-btn {
    width: 100%;
  }
}

.checkout-item {
  display: flex;

  &__name {
    flex: 1;
  }

  &__price {
  }
}
