@import '../base/color';

.dish {
    display: flex;
    align-items: center;


    &__name {
        flex: 1;

    }

    &__price {
        margin-right: 0.5em;
    }

    &__btn {
        font-size: 18px;
    }

}