.dish {
    display: flex;
    align-items: center;

    padding: 10px;
    // background-color: rgb(247, 247, 247);

    &__name {
        flex: 1;
    }

    &__price {

    }

    &__btn {
    margin-left: 10px;
    height: 100%;
    padding: 0px;
    }
}