@import '../base/_variables.scss';

.generate__corpses {
    opacity: 0;
    transition: opacity 2.5s;
    -webkit-transition: opacity 2.5s;
    a {
        display: inline-block;
        text-decoration: none;
        font-size: 1rem;
        padding: $main-padding * 0.5;
        // cursor: pointer;
        text-align: center;
    }
}
.generate__corpses.active {
    opacity: 1;
}
.generate {
    ul, .generator {
        width: 50%;
    }
    button {
        display: inline-block;
        width: 100%;
        border: 1px dotted $text-color;
        padding: $main-padding*0.5 0;
        margin: 0 0 $main-padding*0.5 0;
        text-decoration: none;
        font-size: 1rem;
        cursor: pointer;
        text-align: center;
        transition: background 250ms ease-in-out, 
                    transform 150ms ease;
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    button:hover {
        background: $text-color;
        color: $background-color;
    }

    button:focus {
        outline: 1px solid #fff;
        outline-offset: -4px;
    }

    button:active {
        transform: scale(0.99);
    }
}