.addressInput, .nameInput, .mobileInput, .mobileInput, .emailInput, .passwordInput{
    margin-bottom: 1em;
    border-radius: 8px;
    margin-right: 2em;
}

button{
    font-size: 1em;
    border-radius: 8px;
    max-width: 10em;
    align-self: centre;
}
