@import '../base/_variables.scss';
.customerOrder {
    margin: $main-padding *2 0;   
    padding: $main-padding;
    background-color: $primary-color;
    color: $primary-color;
    border: 3px solid darken($primary-color, 10% );
    &__title, &__order {
        color: $background-color; 
        margin-top: 0;
    }

    &__submit {
        color:  $text-color;
        background-color: green;
        text-transform: uppercase;
        font-size: 1.2rem;
        padding: $main-padding *0.5 $main-padding * 0.8;
        display: inline-block;
        border: none;
        margin: $main-padding 0;
        text-decoration: none;
        border: 3px solid darken(green, 10% );
        cursor: pointer;
        text-align: center;
        transition: background-color 250ms ease-in-out, 
                    transform 150ms ease;
        -webkit-appearance: none;
        -moz-appearance: none;
        &::after {
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f0a9";
            margin-left: 5px;
        }
        &:hover {
            text-decoration: none;
            background-color:  darken(green, 10% );
            
        }
    }
}