@import '../base/_variables.scss';

.menuitem {
    border-bottom: 2px dotted lighten($background-color, 30% );
    padding-top: $main-padding *1;
    padding-bottom: $main-padding *0.5;
}
h2 + li.menuitem {
    border-top: 2px dotted lighten($background-color, 30% );
}
.menuitem__form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.menuitem__select {
    text-transform: uppercase;
}

.menuitem__price {
    color: lighten($background-color, 30% );
}
input.quantity__change, input.quantity__display {
    border: none;
    width: 25px;
    padding: 5px 0;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}
input.quantity__display {
    background-color: lighten($background-color, 30% );
}

input.quantity__change {
    background-color: lighten($background-color, 10% );
    color: white;
}

.menuitem__submit {
    color:  $primary-color;
    display: inline-block;
    border: none;
    margin: 0;
    text-decoration: none;
    background: transparent;
    cursor: pointer;
    text-align: center;
    transition: color 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    &::before {
        font-size: 1.33em;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f055";
        margin-right: 5px;
    }
    &:hover {
        text-decoration: none;
        color:  $text-color;
    }
    &.added{
        color:  green;
        &::before {
            content: "\f058";
        }
    }
}