<!DOCTYPE html>
<html>
  <head>
    <title>Let's get some food</title>
    <link rel="stylesheet" type="text/css" src="/static/styles.css">
  </head>
  <body>
    <div id="orders">
      
    </div>
    <script src="/static/admin.js"></script>
  </body>
</html>
