<!DOCTYPE html>
<html>
  <head>
    <title>Let's get some food</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Sedgwick+Ave+Display" rel="stylesheet">
  </head>
  <body>
    <div id="root">

    </div>
    <script src="/static/bundle.js"></script>
  </body>
</html>
