<!DOCTYPE html>
<html>
  <head>
    <title>Diabetes</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
  </head>
  <body>
    <div id="root">

    </div>
    <script src="/static/bundle.js"></script>
  </body>
</html>
