<!DOCTYPE html>
<html>
  <head>
    <title>Let's get some food</title>
    <link rel="stylesheet" type="text/css" src="/static/styles.css">
  </head>
  <body>
    <form id="order-form">
      <div id="menu-container">

      </div>
      <button id="submit-order" type="submit">Submit order</button>
    </form>
    <script src="/static/client.js"></script>
  </body>
</html>
