<!DOCTYPE html>
<html>
  <head>
    <title>Let's get some food</title>
  </head>
  <body>
    <div id="menu-container">
      
    </div>
    <script src="/static/client.js"></script>
  </body>
</html>
