<!DOCTYPE html>
<html>

<head>
    <title>Let's get some food</title>
    <link href="https://fonts.googleapis.com/css?family=Fahkwang" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div id="root">
        <a href="http://localhost:8080/menu"><input type="button"></a>
    </div>
    <script src="/static/bundle.js"></script>
</body>

</html>