<!DOCTYPE html>
<html>

<head>
  <title>your order is on its way</title>
  <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>

<body>
  <div id="root">
    <p>your order is on its way</p>
  </div>

</body>

</html>