$header-font-color:#FDFBFE;
$sub-font-color:#5C5C5D;
$alert-color:#E04D46;


$normal-font-size:16px;
$medium-font-size:13px;
$small-font-size:10px;

$button-color:#3EAA96;

$background-color:#FDFBFE;

$content-padding: 1px 7px 2px 7px;
$card-gap: 10px;

$margin:7px;
