$font-color:rgba(0, 0, 0, 0.87);
$alert-color:#E04D46;


$normal-font-size:16px;
$medium-font-size:13px;
$small-font-size:10px;

$button-color:#3f51b5;

$background-color:#FBFBFB;

$content-padding: 1px 7px 2px 7px;
$card-gap: 7px;
