body {
  background-color: Cornsilk;
}

.mainHeading {
  background-color: coral;
  text-align: center;
  color: white;
  margin:auto;
  overflow:hidden;
  font-family: 'Amatic SC', cursive;
}

.vegan {
  max-height: 20px;
}
