@import 'defaults';

.basket-item {
  border-bottom: 1px solid #cccccc;
  padding: 0.5rem 1rem 0.5rem 0;
  border-left: 6px solid white; 

  &__title {
    padding-left: 1rem;
    display: flex;
    justify-content: space-between;
  }

  &__name {
    font-size: 1rem;
    color: black;
    padding-bottom: 0.2rem;
  }

  &__line-total {
    color: $primary-color;
    padding-left: 1rem;
    width: 80px;
    text-align: right;
  }

  &__buttons {
    display: flex;
    align-items: center;
  }

  &__count {
    text-align: center;
    color: black;
    width: 1rem;
  }

  &__remove-button {
    color: black;
  }
}

.fas {
  font-size: 1rem;
}