@import 'defaults';

.menu {
  padding: 0 1rem 1rem 0;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  
  .menu {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
