@import 'defaults';

.splash {

  &__image {
    position: fixed;
    top: 0;
    left: -40px;
    max-height: 100%;
    margin: auto;
    overflow: auto;
  }

  &__logo {
    position: absolute;
    bottom: 7rem;
    left: 2rem;
    color: white;
    font-size: 3rem;
    margin: 0;
    font-family: 'Sedgwick Ave Display', cursive;
  }

  &__text {
    font-family: 'Roboto';
    font-size: 1rem;
    position: absolute;
    bottom: 5rem;
    left: 2rem;
    color: white;
  }
}

@media screen and (min-width: 768px) {

  .splash {

    &__image {
      left: 0;
      width: 100%;
      height: auto;
      max-height: auto;
    }

    &__logo {
      font-size: 5rem;
      bottom: 13rem;
    }

    &__text {
      font-size: 1.5rem;
      bottom: 10rem;
    }
  }
}

@media screen and (min-width: 960px) {

  .splash {
    width: 100vw;
    height: 100vh;

    &__image {
      display: none;
    }

    &__logo {
      color: $primary-color;
    }

    &__text {
      color: $primary-color;
    }
  }
}
