@import 'defaults';

.splash {

  &__image {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 100%;
    margin: auto;
    overflow: auto;
  }

  &__logo {
    position: absolute;
    bottom: 9rem;
    left: 2rem;
    color: white;
    font-size: 3rem;
    margin: 0;
    font-family: 'Sedgwick Ave Display', cursive;
  }

  &__text {
    font-family: 'Roboto';
    font-size: 1rem;
    position: absolute;
    bottom: 7rem;
    left: 2rem;
    color: white;
  }
}