@import url('https://fonts.googleapis.com/css?family=Alegreya+SC|Noticia+Text:400i');

body {
	margin: 1em;
}

h1, h2 {
	font-family: 'Alegreya SC', serif;
}

h2 {
	margin-bottom: 0;
}

.menu-group {
	margin: 1em 0;
}

.item-group {
	border-bottom: 1px solid #999;
	padding: 0.5em 0;
}

.item-title {
	font-family: 'Alegreya SC', serif;
	font-weight: bold;
}

.item-price {
	display: block;
	width: 3em;
	float: right;
}

.item-description {
	padding-top: 0.25em;
	font-size: 0.85em;
}

.item-description, .item-price, .item-quantity, #total-price {
	font-family: 'Noticia Text', serif;
}

.quantity-picker {
	display: block;
	width: 4.5em;
	float: right;
	background: #eee;
	padding: 0.1em;
	margin-top: -0.2em;
	border: 1px solid #ccc;
}

.item-quantity {
	display: inline-block;
	width: 1.5em;
	margin-right: 0.25em;
	padding: 0.1em;
	font-weight: bold;
	text-align: center;
}

.quantity-change {
	display: inline;
	font-size: 0.8em;
	cursor: pointer;
}

@media (min-width: 768px) {
	h1 {
		font-size: 3.5em;
		margin: 0.25em 0;
	}

	#menu {
		width: 66%;
		margin: 0 auto;
	}
}

@media (max-width: 767px) {
	h1 {
		font-size: 2.5em;
		margin: 0.2em 0;
	}

	#menu {
		width: 75%;
		margin: 0 auto;
	}
}

@media (max-width: 575px) {
	h1 {
		font-size: 1.75em;
		margin: 0.15em 0;
	}

	#menu {
		width: 100%;
	}
}

#total-price {
	margin-bottom: 5em;
	font-size: 2em;
}

#total-price-label {
	display: inline-block;
	width: 5em;
	float: right;
}

#total-price-value {
	display: inline-block;
	width: 5em;
	float: right;
	font-weight: bold;
	text-align: right;
}