* {
  box-sizing: border-box;
}

body {
  overflow: auto;

  margin: 0;
  min-height: 100vh;

  font-family: "Luckiest Guy", cursive;
}

.app__body {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

.header {
  width: 100%;

  text-align: center;

  background-color: yellow;
  color: rebeccapurple;

  margin: 0;

  border-bottom-color: green;
  border-left-color: yellow;
  border-right-color: yellow;
  border-top-color: yellow;
}

.header__nav {
  border-style: solid;
  border-top-color: green;
  border-right-color: yellow;
  border-left-color: yellow;
  border-top-width: 5px;
}

.header__links {
  display: flex;
  flex-direction: row;

  justify-content: space-around;
  align-items: center;

  border-bottom-style: none;
}

.logo__null {
  display: block;
  top: 10px;
  float: right;

  max-width: 70%;
  border-color: green;
  border-style: solid;
  border-radius: 80%;
  width: 120px;
  height: 110px;
}

.logo {
  display: block;
  top: 10px;
  float: right;

  max-width: 70%;
  border-color: green;
  border-style: solid;
  border-radius: 80%;
  width: 120px;
  height: 110px;

  animation-name: car;
  animation-duration: 4s;
}

.homepage__display {
  display: flex;
}

.homepage__nav {
  width: 300px;
  overflow: auto;

  font-size: 12px;

  border-style: solid;
  border-right-color: green;
  border-right-width: 5px;
  border-top-width: 0;

  background-color: tomato;
}

.homepage__message-container {
  overflow: auto;

  background-color: tomato;
  color: #003300;
}

.homepage__message-title {
  color: #003300;
}

.homepage__welcome {
  color: #003300;
}

.homepage__welcome-para {
  font-size: 18px;

  color: #003300;
}

/* .menu {
  display: flex;
} */

.display {
  display: grid;
  overflow: auto;
  background-color: tomato;
  color: #003300;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
}

.display__menu {
  display: block;
  padding: 20px;
  margin: 0;
}

.display__menu-title {
  font-size: 20px;
  color: #003300;
}

.display__title {
  display: flex;
  flex-direction: row;

  background-color: palevioletred;
  color: #003300;

  margin: 0;

  justify-content: space-evenly;
  align-items: center;

  border-left-color: palevioletred;
  border-right-color: palevioletred;
  border-bottom-color: green;
  border-top-color: green;
  border-style: solid;
}

.bakers__dozen {
  display: none;

  background-color: tomato;
  color: #003300;

  text-align: left;

  padding: 5px;
  margin: 0;
}

.showOldOrders {
  width: 100px;
}

.li__menu {
  list-style: none;
}
li {
  list-style: none;
}

hr {
  border: 0;
  height: 0;
  box-shadow: 0 0 10px 1px #003300;
}

.specialTag {
  color: black;
}

.display__menu-images {
  --wh: 200px;

  display: block;
  width: var(--wh);
  height: var(--wh);
  border: 3px solid green;
  border-radius: var(--wh);
  text-align: center;
}

.order__display {
  display: flex;
  flex-direction: column;
  overflow: auto;

  background-color: green;
  color: gainsboro;

  text-align: center;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding: 10px;

  border: 3px;
  border-style: solid;
  border-color: yellow;
}

.delivery__charge {
  color: rebeccapurple;

  font-style: italic;
  font-weight: bold;
}

.display__oldOrders {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: auto;

  width: 100%;

  border-style: solid;
  border-color: green;

  background-color: rebeccapurple;
  color: whitesmoke;

  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.oldOrders__item-name {
  width: 50px;

  text-align: center;
}

.orders__image {
  display: none;

  width: 200px;
  height: 90px;
}

.stoner__quote {
  display: none;

  font-size: 18px;
  font-style: italic;
}

.message__inputs {
  border-style: groove;
  border-color: green;
}

.footer {
  width: 100%;

  position: relative;
  left: 0;
  bottom: 0;
  text-align: center;

  background-color: yellow;
  color: rebeccapurple;

  border-bottom-color: yellow;
  border-left-color: yellow;
  border-right-color: yellow;
  border-top-color: green;
  border-style: solid;

  padding: 10px;
}

button {
  font-family: "Luckiest Guy", cursive;

  height: 10px;

  background-color: green;
  color: yellow;

  border-color: rebeccapurple;
  border-style: solid;
  border-radius: 21px;
}

@media (min-width: 768px) {
  * {
    box-sizing: border-box;
  }

  body {
    overflow: auto;

    margin: 0;
    font-family: "Luckiest Guy", cursive;
  }

  /* .header {
    offset: static;
    width: 100%;
    text-align: center;
    background-color: yellow;
    color: rebeccapurple;
    margin: 0;
    padding: 10px;
    border-bottom-color: green;
    border-left-color: yellow;
    border-right-color: yellow;
    border-top-color: yellow;
    border-style: solid;
  } */

  .logo {
    display: block;
    top: 10px;
    float: right;

    max-width: 70%;
    border-color: green;
    border-style: solid;
    border-radius: 80%;
    width: 120px;
    height: 110px;
  }

  .display__menu {
    display: block;
    padding: 20px;
    margin: 0;
  }

  .display__menu-title {
    font-size: 20px;
    color: #003300;
  }

  .display__title {
    display: flex;
    flex-direction: row;

    background-color: palevioletred;
    color: #003300;

    margin: 0;

    justify-content: space-evenly;
    align-items: center;

    border-style: solid;
  }

  .bakers__dozen {
    display: block;

    background-color: tomato;
    color: #003300;

    text-align: left;

    padding: 5px;
    margin: 0;
  }

  .showOldOrders {
    width: 100px;
  }

  .li__menu {
    list-style: none;
  }

  li {
    list-style: none;
  }

  .specialTag {
    color: black;
  }

  .display__menu-images {
    --wh: 250px;
  }

  .order__display {
    display: flex;
    position: fixed;
    flex-direction: row;
    overflow: auto;

    background-color: green;
    color: gainsboro;

    text-align: center;
    justify-content: center;
    align-items: center;

    right: 0px;
    bottom: 400px;
    width: 300px;
    padding: 10px;

    border: 3px;
    border-style: solid;
    border-color: yellow;
    border-radius: 40%;
  }

  .delivery__charge {
    color: rebeccapurple;

    font-style: italic;
    font-weight: bold;
  }

  .display__oldOrders {
    display: flex;
    flex-direction: column;

    overflow: auto;

    width: 100%;

    border-style: solid;
    border-color: green;

    background-color: rebeccapurple;
    color: whitesmoke;

    justify-content: center;
    align-items: center;
    justify-content: space-between;
  }

  .oldOrders__title {
    display: block;
  }

  .oldOrders__item-name {
    width: 50px;

    text-align: center;
  }

  .orders__image {
    display: block;

    width: auto;
  }

  .stoner__quote {
    display: block;

    font-size: 18px;
    font-style: italic;
  }

  .footer {
    width: 100%;

    position: relative;
    left: 0;
    bottom: 0;
    text-align: center;

    background-color: yellow;
    color: rebeccapurple;

    border-bottom-color: yellow;
    border-left-color: yellow;
    border-right-color: yellow;
    border-top-color: green;
    border-style: solid;

    padding: 20px;
  }

  button {
    font-family: "Luckiest Guy", cursive;

    height: 20px;

    background-color: green;
    color: yellow;

    border-color: rebeccapurple;
    border-style: solid;
    border-radius: 40%;
  }

  .homepage__display {
    display: flex;
  }

  .homepage__nav {
    width: 300px;
    overflow: auto;

    font-size: 12px;

    border-style: solid;
    border-right-color: green;
    border-right-width: 5px;
    border-top-width: 0;

    background-color: tomato;
  }

  .homepage__message-container {
    overflow: auto;

    background-color: tomato;
  }
}
