$background-color: #f5f5f5;
$background-color-dark: #e9e9e9;
$foreground-color: #ffffff;
$line-color-dark: #bdbdbd;
$line-color-light: #dfdfdf;
$primary-color: #719c2b;
$primary-color-light: #8bc035;
$primary-color-dark: #587a22;
$text-color-dark: #2e3333;
$text-color-light: #818484;
